<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MP4 Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>MP4 Downloader</h1>
    </header>
    <section id="container">
        <img src="{{ url_for('static', filename='logo.png') }}">
        <div id=loadingScreen" style="display: none;">
                Your content is downloading, it should be quick... ⏳
        </div>
        <h2>Download a video from YouTube</h2>
        <form id="video-form" action="/download_video" method="post">
            <label for="video-url">🎬</label><br>
            <input type="text" id="video-url" name="video-url" required><br>
            <input type="submit" id="video-submit-button" value="Download video">
        </form>

        <h2>Download an audio from YouTube</h2>
        <form id="audio-form" action="/download_audio" method="post">
                <label for="audio-url">🎶</label><br>
                <input type="text" id="audio-url" name="audio-url" required><br>
                <input type="submit" id="audio-submit-button" value="Download audio">
        </form>
    </section>
<script>
        document.addEventListener('DOMContentLoaded', (event) => {
                document.getElementById('video-form').addEventListener('submit', function() {
                        document.getElementById('loadingScreen').style.display = 'flex';
                        setTimeout(function() {
                                document.getElementById('loadingScreen').style.display = 'none';
                        }, 7000);
                });
                document.getElementById('audio-form').addEventListener('submit', function() {
                        document.getElementById('loadingScreen')style.display='flex';
                        setTimeout(function() {
                                document.getElementById('loadingScreen').style.display = 'none';
                        }, 7000);
                });
        });
</script>
</body>
</html>